<!-- Individual Drink Page (bobby workin on this) -->
<%- include('header', {cssFile: "beverage_style.css" , currUser: currentUser.username}) -%>

  <div class="content">
    <div class="row" id="drink-header">
      <div class="col">
        <p id="drink-name">
          <%= beverage.name %>
        </p>
        <p id="author">Mixologist: <%=beverage.author %>
        </p>
      </div>
      <div class="col">
        <div id="stars">
          <!-- lmfao -->
          <% for (let i=0; i < (Math.floor(avgRating)); i++) {%>
            <i style="color: #e13859" class="fa-solid fa-star"></i> 
          <% } %>
          <% if (((avgRating * 10) % 10) != 0) { %>
            <i style="color: #e13859" class="fa-solid fa-star-half-stroke"></i>
          <% } %>
          <% for (let i=0; i < (5 - (avgRating + .99)); i++) { %>
            <i style="color: #e13859" class="fa-regular fa-star"></i>
          <% } %>
      
          <div class="row">
            <h5><%= avgRating %> (<%= comments.length %>)</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="header-btn">
      <div class="col-sm-auto">
        <p id="btn"><i class="fa-solid fa-heart"></i> Like</p>
      </div>
      <div class="col-sm-auto">
        <!-- <p id="btn"><i class="fa-solid fa-share"></i> Share</p> -->
        <!-- <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-share"></i>Share</button> -->



           <!-- Share button -->
        <button type="button" style="margin-left: 20px; background-color: #5F7394; border: 0px" class="btn btn-primary"
        data-bs-toggle="modal" data-bs-target="#shareModal">
        <i class="fa-solid fa-share"></i> Share
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="shareModalLabel">Share The Taste</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action=<%="/post-comment/" + beverage.id %> >
              <div class="modal-body">
                <!-- Add a comment section -->
                <label for="drinkDesc" class="form-label">Link</label>
                <input type="text" class="form-control" id="linktext" name="linktext" value="beverage/<%=beverage.id%>" readonly>
                <!---->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!--<button type="submit" style="background-color: #5F7394;" class="btn btn-primary"><i class="fa-solid fa-copy"></i></button>-->
              </div>
            </form>
          </div>
        </div>
      </div>
      <!---->





      </div>
      <div class="col-sm-auto">
        <form method="POST" action=<%="/save-bev/" + beverage.id %> >
          <button type="submit" class="btn btn-secondary"><i class="fa-sharp fa-solid fa-folder-open"></i>Save</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="profile-photo">
          <p id="photo-title">DRINK PHOTO</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="desc">
          <h1>Description</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <p id="desc-text">
        <%= beverage.description %>
      </p>
    </div>
    <div class="row">
      <div class="col">
        <div id="desc">
          <h1>Instructions</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <p id="desc-text">
        <%= beverage.instr %>
      </p>
    </div>
    <div class="row">
      <div id="ingred-section">
        <h1>Ingredients</h1>
      </div>
    </div>
    <div class="row">
      <div id="ingred-photo">
        <ul>
          <% for (ingred of ingreds) { %>
            <li>
              <p><%=ingred[0]%> x<%=ingred[1]%></p>
            </li>
            <% } %>
        </ul>
      </div>
    </div>

    <div class="row" id="comment-header">
      <div class="col-sm-4">
        <h1>Comments</h1>
      </div>
      <div class="col-sm-auto">
        <!-- Comment button -->
        <button type="button" style="margin-left: 20px; background-color: #5F7394; border: 0px" class="btn btn-primary"
          data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-plus"></i> New Comment
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Comment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="POST" action=<%="/post-comment/" + beverage.id %> >
                <div class="modal-body">
                  <!-- Add a comment section -->
                  <label for="drinkDesc" class="form-label">Comment</label>
                  <textarea type="text" class="form-control" id="comText" name="comText" placeholder="Your comment"
                    value="" required></textarea>
                  <input type="text" class="form-control" id="rating" name="rating" placeholder="rating 1 - 5" value=""
                    required>
                  <!---->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" style="background-color: #5F7394;" class="btn btn-primary">Post Comment</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>

    <div class="comment-section">
      <!--Comments-->
      <% for (comment of comments) { %>
        <div class="row" id="comment">
          <div class="col">
            <div>
              <h3>
                <%= comment.username %>
              </h3>
            </div>
          </div>
          <div class="col">
                <% for (let i=0; i < (Math.floor(comment.rating)); i++) {%>
                  <i style="color: #e13859" class="fa-solid fa-star"></i> 
                <% } %>
                <% if (((comment.rating * 10) % 10) != 0) { %>
                  <i style="color: #e13859" class="fa-solid fa-star-half-stroke"></i>
                <% } %>
                <% for (let i=0; i < (5 - (comment.rating + .99)); i++) { %>
                  <i style="color: #e13859" class="fa-regular fa-star"></i>
                <% } %>
          </div>
          <div class="row">
            <p id="comment-text">
              <%= comment.text %>
            </p>
          </div>
        </div>
        <% } %>
          <!---->
    </div>
  </div>
  <%- include('footer') -%>
