<!-- Individual Drink Page (bobby workin on this) -->
<%- include('header', {cssFile: "beverage_style.css" , currUser: currentUser.username}) -%>

  <div class="content">
    <div class="row" id="drink-header">
      <div class="col">
        <p id="drink-name">
          <%= beverage.name %>
        </p>
        <p id="author">Mixologist: <%=beverage.author %>
        </p>
      </div>
      <div class="col">
        <div id="stars">
          <!-- lmfao -->
          <% for (let i=0; i < (Math.floor(avgRating)); i++) {%>
            <i style="color: #e13859" class="fa-solid fa-star"></i>
            <% } %>
              <% if (((avgRating * 10) % 10) !=0) { %>
                <i style="color: #e13859" class="fa-solid fa-star-half-stroke"></i>
                <% } %>
                  <% for (let i=0; i < (4.01 - (avgRating)); i++) { %>
                    <i style="color: #e13859" class="fa-regular fa-star"></i>
                    <% } %>

                      <div class="row">
                        <h5>
                          <%= avgRating %> (<%= comments.length %>)
                        </h5>
                      </div>
        </div>
      </div>
    </div>

    <div class="row" id="header-btn">
      <div class="col-sm-auto">
        <!-- Share button -->
        <button type="button" style="margin-bottom: 10px; border: none" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#shareModal" id="sharebutton">
          <i class="fa-solid fa-share"></i> Share
        </button>

        <!-- Modal -->
        <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="shareModalLabel">Share The Taste</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="POST" action=<%="/post-comment/" + beverage.id %> >
                <div class="modal-body">
                  <!-- Add a comment section -->
                  <label for="drinkDesc" class="form-label">Link</label>
                  <input type="text" class="form-control" id="linktext" name="linktext"
                    value="beverage/<%=beverage.id%>" readonly>
                  <!---->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <!--<button type="submit" style="background-color: #5F7394;" class="btn btn-primary"><i class="fa-solid fa-copy"></i></button>-->
                </div>
              </form>
            </div>
          </div>
        </div>
        <!---->
      </div>

      <!-- SAVE -->
      <% if (isSaved) { %>
        <div class="col-sm-auto">
          <form method="POST" action=<%="/beverage/unsave-bev/" + beverage.id %> >
            <button type="submit" class="btn btn-secondary" style="background-color:#e13859; border-color:#e13859;"><i
                class="fa-solid fa-check-to-slot"></i> Saved</button>
          </form>
        </div>
        <% } else {%>
          <div class="col-sm-auto">
            <form method="POST" action=<%="/beverage/save-bev/" + beverage.id %> >
              <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-bookmark"></i> Save</button>
            </form>
          </div>
          <% } %>
    </div>

    <div class="row">
      <div class="col">
        <div id="profile-photo" style="display: flex;
        justify-content: center;">
          <img src="/images/great-cocktails-9PyQwwmZxpI-unsplash.jpg" alt="Avatar" style=" max-width: 100%;
                                    max-height: 100%;
                                    ">

        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="desc">
          <h1>Description</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <p id="desc-text">
        <%= beverage.description %>
      </p>
    </div>
    <div class="row">
      <div class="col">
        <div id="desc">
          <h1>Instructions</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <p id="desc-text">
        <%= beverage.instr %>
      </p>
    </div>
    <div class="row">
      <div id="ingred-section">
        <h1>Ingredients</h1>
      </div>
    </div>
    <div class="row">
      <div id="ingred-photo">
        <div class="ingredArea">
          <ul class="ingredList">
            <% for (ingred of ingreds) { %>
              <li>
                <h3>
                  <i class="fa-solid fa-minus"></i>
                  <%=ingred%>
                </h3>
              </li>
              <% } %>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" id="comment-header">
      <div class="col-sm-4">
        <h1>Comments</h1>
      </div>
      <div class="col-sm-auto">
        <!-- Comment button -->
        <button type="button" style="margin-left: 20px; background-color: #5F7394; border: 0px" class="btn btn-primary"
          data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-plus"></i> New Comment
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Comment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="POST" action=<%="/beverage/post-comment/" + beverage.id %> >
                <div class="modal-body">
                  <!-- Add a comment section -->
                  <label for="drinkDesc" class="form-label">Comment</label>
                  <textarea type="text" class="form-control" id="comText" name="comText" placeholder="Your comment"
                    value="" required></textarea>
                  <input type="range" id="rating" name="rating" value="1" min="1" max="5" step="0.5"
                    oninput="this.nextElementSibling.value = this.value" required>
                  <output>1</output>
                  <!---->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" style="background-color: #5F7394;" class="btn btn-primary">Post Comment</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>

    <div class="comment-section">
      <!--Comments-->
      <% if (comments !=null) { %>
        <% for (comment of comments) { %>
          <div class="row" id="comment">
            <div class="col">
              <div>
                <h3>
                  <%= comment.username %>
                </h3>
              </div>
            </div>
            <div class="col">
              <% for (let i=0; i < (Math.floor(comment.rating)); i++) {%>
                <i style="color: #e13859" class="fa-solid fa-star"></i>
                <% } %>
                  <% if (((comment.rating * 10) % 10) !=0) { %>
                    <i style="color: #e13859" class="fa-solid fa-star-half-stroke"></i>
                    <% } %>
                      <% for (let i=0; i < (4.01 - (avgRating)); i++) { %>
                        <i style="color: #e13859" class="fa-regular fa-star"></i>
                        <% } %>
                          <% if (currentUser.username=='Admin' ) { %>
                            <form method="POST" action=<%="/beverage/delete-comment/" + comment.id + "-" + beverage.id
                              %>
                              >
                              <button type="submit" class="btn btn-secondary"
                                style="float: right; transform: translateY(-20px);">Remove</button>
                            </form>
                            <% } %>
            </div>
            <div class="row">
              <p id="comment-text">
                <%= comment.text %>
              </p>
            </div>
          </div>
          <% } %>
            <% } %>
              <!---->
    </div>
  </div>


  <%- include('footer') -%>